<!-- Section 1 -->
 <!-- <div class="parent-main">
  
 </div> -->


 <div class="container-fuild">
 <header>
  <div class="flex-div">
  <div class="head4">
      <div class="head2"><div class="img-url"></div>
      </div>
  </div>
  <nav>
      <ul [class.active]="isMenuOpen">
          <li><a href="#">home</a></li>
          <li><a href="#OurProfessionalServices">{{'OurProfessionalServices' | translate}}</a></li>
          <li><a href="#WorkforcePlacement">{{'WorkforcePlacement' | translate}}</a></li>
          <li><a href="#ServicesOverview">{{'ServicesOverview' | translate}}</a></li>
          <li><a href="#LaborMarketIntegration">{{'LaborMarketIntegration' | translate}}</a></li>
          <li><a href="#ContactUs">{{'ContactUs' | translate}}</a></li>
         
      </ul>
  </nav>
 
<div class="display-flex">
  <div class="menu-toggle" id="mobile-menu" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
</div>
<div class="display-flex flex-reverse">
  <div  class="icon" (click)="islang=true">
  </div>
 <div class="dropdown__toggle" href="javascript:void(0)">{{'lang' | translate}}</div>
 </div>
</div>

  </div>
  <div *ngIf="islang" class="flex-end" appClickOutside (clickOutside)="hideLanguagePopup()">
    <div class="box-Up" (click)="handleLanguageSwitch()">{{'currentLang' | translate}}</div></div>
   <div class="shape">
     <h2 class="mb-2">{{ 'altenaprofessionelServices' | translate }}</h2>
     <p>{{ 'supTitle' | translate }}</p>
  </div>
</header>

<section class="parent-first" id="OurProfessionalServices">
    <div class="child-card">
    <div class="child-card_img1"></div>
    <div class="child-card_header">{{'RecruitingServices' | translate }}</div>
    <div class="child-card_body">{{'subtitlecard1' | translate }}</div>
    </div>
    <div class="child-card">
      <div class="child-card_img2"></div>
      <div class="child-card_header">{{'Headhunter' | translate }}</div>
      <div class="child-card_body">{{'subtitlecard2' | translate }}</div>
      </div>
      <div class="child-card">
        <div class="child-card_img3"></div>
        <div class="child-card_header">{{'Careercoaching' | translate }}</div>
        <div class="child-card_body">{{'subtitlecard3' | translate }}</div>
        </div>
 
</section>
<section class="parent-second" id="WorkforcePlacement">
<div class="parent-second_img"></div>
<div class="parent-second_header">{{'Placementofworkers' | translate }}</div>
<div class="parent-second_text">{{'subtitleWorkers' | translate }}</div>
<div class="parent-second_text">{{'subtitleWorkers2' | translate }}</div>
</section>
<section class="parent-third" id="ServicesOverview">
<div class="child-one row">
<div class="col-md-6 child-one_img"></div>
<div class="col-md-6 child-one_text">
  <p class="parent-second_header">{{'headerTesting' | translate }}</p>
  <p class="parent-second_text">{{'subtitleTesting' | translate }}</p>
</div>
</div>
<div class="child-two row">
  <div class="col-md-6 child-two_text order-2 order-md-1">
    <p class="parent-second_header">{{'headerFreelancer' | translate }}</p>
    <p class="parent-second_text">{{'subtitleFreelancer' | translate }}</p>
    </div>
  <div class="col-md-6 order-1 order-md-2 child-two_img"></div>
  </div>
  <div class="child-three row">
    <div class="col-md-6 child-three_img"></div>
    <div class="col-md-6 child-three_text">
      <p class="parent-second_header">{{'headerIntegration' | translate }}</p>
      <p class="parent-second_text">{{'subtitleIntegration' | translate }}</p>
    </div>
    </div>
</section>
<section class="parent-four" id="LaborMarketIntegration">
<div class="child-four row">
  <div class="col-md-6 child-four_img">

  </div>
  <div class="col-md-6 child-four_text">
    <div class="parent-second_header">{{'headerRecruitment' | translate }}</div>
    <div class="parent-second_text">{{'subtitleRecruitment' | translate }}</div> 
  </div>
</div>
</section>
<section class="parent-five" id="ContactUs">
  <div class="child-five">
    <div class="child-five_text">
      <div class="parent-second_header color-white">{{ 'CallUs' | translate }}</div>
      <div class="parent-second_text">
        <a href="tel:00491791617780" class="link-color">{{ 'phone-number' | translate }}</a>
      </div>
    </div>
    <div class="child-five_text">
      <div class="parent-second_header color-white">{{ 'Email' | translate }}</div>
      <div class="parent-second_text">
        <a href="mailto:Altena.eng@gmail.com" class="link-color">{{ 'email-text' | translate }}</a>
      </div> 
    </div>

  </div>
  
  </section>
 </div>
 <div class="scroll-to-top" (click)="scrollToTop()" *ngIf="isScrolled">
   ↑ 
</div>



